
@{
    ViewBag.Title = "PageNotFound";
    Layout = "";
}

<div class="text-center form-row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="container text-center">
            <h1><b>OOOPPPSSSSSS  !!!!</b></h1>
            <h2>
                The Page which you are looking for Cannot be Found.<br>
                Just Check Back the URL Or Try Back Again
            </h2>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>


