@model MyProject.Models.InboxMessageModel
@{
    ViewBag.Title = "SendMessageToDoctor";
}

<div class="form-row" style="margin-left:-15px">
    <div class="col-sm-3">
        @{
            Html.RenderPartial("PatientPartialView");
        }
    </div>
    <div class="col-sm-9">
        <div class="container">
            <div class="container text-center">
                <h2><b>Contact Your Doctor</b></h2>
            </div>
            <br><br><br><br />

            @using (Html.BeginForm("PostMessageToDoctor", "Patient", FormMethod.Post))
            {
                <div class="form-row">
                    <div class="col-sm-2">
                        <label>Choose Doctor</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownListFor(a => a.ToEmailId, Model.lstDoctor, "Select", new { @class = "form-control" })
                    </div>
                </div>
                <br /><br /><br /><br />

                <div class="form-row">
                    <div class="col-sm-2">
                        <label>Subject</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(a => a.Subject, new { @class = "form-control", @maxlength = "50" })
                    </div>
                </div>
                <br /><br /><br /><br />

                <div class="form-row">
                    <div class="col-sm-2">
                        <label>Message Details</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextAreaFor(a => a.MessageDetail, new { @class = "form-control", @maxlength = "50" })
                    </div>
                </div>
                <br /><br /><br /><br />

                <div class="form-row">
                    <div class="col-sm-3">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>

                    <div class="col-sm-3">
                        <input type="reset" class="btn btn-danger" value="Clear">
                    </div>
                </div>
                <br />
                <div class="text-success text-center form-group">
                    @ViewBag.Message
                </div>
            }
        </div>
    </div>
</div>

