
@{
    ViewBag.Title = "About";
}

<div class="form-row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div id="pic2"class="table table-bordered" style="height:500px;border:solid">
            <img src="~/aboutimg.jpg" height="100%" width="100%" />
        </div>
        
        <div id="txt3"class="table table-bordered container" style="width:2000px;background:radial-gradient(white,#c9832c)">                   
            <h3>
                <i>
                    <p>
                        In a bid to upgrade the standards of healthcare across the region, Austin Regional
                        Research Institute runs various specialty clinics that establish a new paradigm in
                        patient experience. Our speciality clinics are designed in such a way to make healthcare
                        more accessible and affordable for the community.
                    </p>

                    <p>
                        We follow a holistic approach at our clinics, which means our physicians not just cure
                        your existing ailment, but also ensure your continuing wellness. We provide follow up
                        care and long term health management services, especially for chronic diseases such as
                        diabetes and hypertension. We do everything possible to meet your appointment and
                        scheduling needs, answer your questions, provide patient education, and direct you to
                        other health care resources.
                    </p>
                </i>
            </h3>
        </div>
        
    </div>
    <div class="col-lg-1"></div>
</div>

