
@{
    ViewBag.Title = "Home";
}

<div class="form-row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div id="pic" class="table table-bordered"  style="height:500px;border:solid">
            <img src="~/homeimg.jpg" height="100%" width="100%" />
        </div>
        <div class="form-row">
            <div class="col-lg-8">
                <div id="txt1" class="table table-bordered container" style="width:900px;background-color:lightgray">
                    <h3>
                        <i>
                            Austin Regional Clinic is a treatment and allied services wing of the Sahajanand Group. Austin Regional
                            Clinic is playing a vital role in promoting scientific & integrative Ayurveda, hinging on conducting
                            consultations and therapies in the most structured way with explanations. Austin Regional Clinic is
                            crowned as the Best Treatment Centre for its most scientific documentation. Our experience and knowledge
                            in the world of health service has established us as the best in what we are doing.
                        </i>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div id="txt2" class="table table-bordered container" style="width:900px;background:radial-gradient(white,blue);">
                    <h1 class="text-center">
                         Contact Us 24x7
                        <h4><b>
                            Address: 1000 1st Dr NW, Austin, MN 55912, United States<br />
                            Departments: Mayo Clinic Health System - Austin: Emergency Room · Stress Unit<br />
                            Working Days : From Monday to Friday<br />
                            Timing: 9AM - 6PM<br />
                            Emergency department: Open 24 hours · See more hours<br />
                            Phone: +1 507-433-7351
                        </h4></b>
                    </h1>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-lg-1"></div>
</div>
